@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Ensure headings and any element using .font-playfair use Playfair Display */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-playfair {
    font-family: "Playfair Display", serif;
  }
}
